.about {
  &-profile {
    &-image {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        margin: 0;
      }

      div {
        color: $grey-1;
        font-size: .9rem;
        margin-top: -9vw;
      }
    }

    &-content {
      margin-top: 2.5rem;

      h2 {
        margin: 0;
  
        span {
          color: $point-color;
        }
      }

      p {
        margin-bottom: 0;
      }

      .whisper {
        color: $grey-1;
        font-size: .8rem;
      }

      &-contacts {
        margin-top: 3rem;

        i,
        a {
          color: $default-color;
          font-size: 1.2rem;
        }

        a {
          display: flex;
          align-items: center;
        }

        span {
          font-family: $monospaced;
          font-size: .9rem;
          word-spacing: normal;
          margin-left: .6rem;
        }
      }
    }

    @media (min-width: 800px) {
      height: 420px;

      &-image {
        float: left;
        width: 50%;
        margin: 0;

        div {
          margin-top: -1rem;
        }
      }

      &-content {
        float: left;
        width: 50%;
        margin-top: 4rem;
      }
    }
  }

  &-graph {
    margin-top: 1.5rem;

    img {
      margin: 0;
    }

    @media (min-width: 800px) {
      margin-top: 3.5rem;
    }
  }

  &-content {
    margin: 3.5rem 0;

    h2 {
      margin: 0;
    }

    &-right {
      margin-top: 3rem;
    }

    @media (min-width: 800px) {
      height: 240px;

      &-left,
      &-right {
        float: left;
        width: 50%;
      }

      &-right {
        margin-top: 0;
      }
    }
  }

  ul {
    padding: 0;
  }

  li {
    display: flex;
    align-items: center;
    word-spacing: 3px;
    margin: 0 0 .5rem;

    .fa-check-square {
      margin: 0 .8rem 0 .3rem;
    }

    &.rank {
      &-1 {
        font-weight: bold;
      }

      &-3 {
        opacity: .5;
      }
    }
  }
}
