.category {
  &-items, &-item {
    color: $point-color;
    font-family: $sans-serif;
  }

  &-items {
    display: block;
  }

  &-item {
    margin-right: .3rem;

    &:not(:first-child) {
      margin-left: .3rem;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
