.category {
  &-items {
    @extend .category-text;
    display: block;
  }

  &-item {
    @extend .category-text;
    margin-right: .3rem;

    &:not(:first-child) {
      margin-left: .3rem;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
