.category {
  &-items, &-item {
    color: $point-color;
    font-family: $sans-serif;
    font-weight: bold;
  }

  &-items {
    display: block;
  }

  &-item {
    margin-right: .3rem;

    &:not(:first-child) {
      margin-left: .3rem;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.categories {
  padding: 2rem 0 3rem;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    &.child {
      margin-left: 1.5rem;
    }
  }

  a {
    display: flex;
    color: $default-color;
    padding: .5rem;

    &:hover {
      background-color: $grey-3;
    }

    i {
      line-height: 1.5rem;
      margin-right: .5rem;
    }
  }

  &-post-count {
    @extend .tag-item;
    margin-left: auto;
    margin-right: 0 !important;
  }
}

.category-adsense {
  margin-bottom: 1.5rem;
}
