div.catalogue {
  min-height: 2.5rem;
}

.catalogue {
  &-item {
    padding: 1.25rem 0;

    &:first-child {
      padding-top: 3rem;
    }

    &:last-child {
      border: 0;
      padding-bottom: 3rem;
    }
  }

  &-post {
    display: inline-block;
    width: 100%;

    &-title {
      @include transition(all .5s ease-out);
      color: $post-title-color;
      font-family: $title-font;
      display: block;
      font-size: 1.8rem;
      font-weight: 700;
      margin: 0;
    }
  
    &-subtitle {
      @include transition(all .5s ease-out);
      color: $post-subtitle-color;
      margin: 0;
    }
  }

  &-time {
    display: block;
    color: $default-tint;
    font-size: .9rem;
    letter-spacing: .5px;
    margin-top: 1rem;
  }

  &-adsense {
    margin-bottom: 1.5rem;
  }

  .category-items {
    margin-bottom: .8rem;
  }

  .tag-items {
    margin-top: .8rem;
  }
}
