.pagination {
  position: relative;
  text-align: center;
  margin: -1rem 0 1rem;

  span {
    a {
      margin: 0 .3rem;
      color: $default-color;
      font-size: 1.1rem;
      opacity: .4;
    }

    &.selected a {
      cursor: default;
      font-size: 1.2rem;
      opacity: .8;
      pointer-events: none;
    }
  }

  .text {
    color: $default-color;
    font-size: 1.1rem;
    opacity: .4;
  }
}
