.post {
  margin: 3rem 0 1rem;

  &-title {
    color: $post-title-color;
    font-family: $title-font;
    font-weight: 700;
    font-size: 2.1rem;
    margin: .5rem 0 0;

    @media (min-width: 600px) {
      font-size: 2.4rem;
    }

    &-image {
      margin: calc(-3rem + 1px) -1rem 2rem;

      img {
        width: 100%;
        margin: 0 !important;
      }

      @media (min-width: 600px) {
        margin: calc(-3rem + 1px) 0 2rem;
      }
    }
  }

  &-subtitle {
    color: $post-subtitle-color;
    font-size: 1.2rem;
  }

  &-time {
    color: $default-tint;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    margin: 1rem 0 4rem;
  }

  &-pagination {
    @extend .pagination;
    height: .5rem;
    margin: 3rem 0 3rem !important;

    span {
      margin: 0 !important;
    }

    .left {
      left: 0;
      text-align: left;
    }
  
    .right {
      right: 0;
      text-align: right;
    }
  
    .arrow {
      @include transition(all .3s ease-out);
      color: $default-color;
      position: absolute;
      font-size: 1.1rem;
      opacity: .4;
  
      &:hover,
      &:focus {
        opacity: .8;
        text-decoration: none;
      }

      &-title {
        @extend .arrow;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 300px;
        opacity: 1;

        @media (max-width: 800px) {
          max-width: 35vw;
        }

        &.left {
          left: 1.4rem;
        }

        &.right {
          right: 1.4rem;
        }
      }
    }
  }

  #disqus_thread {
    border: 1px solid $grey-2;
    border-radius: 3px;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .category-items {
    font-size: 1.2rem;
  }

  .tag-items {
    margin-top: .8rem;
  }

  p {
    text-align: left;
    word-break: break-all;
    margin: 0 0 1rem;
  }

  li {
    word-break: break-all;
  }

  a:hover {
    text-decoration: underline;
  }

  a.category-item:hover,
  a.tag-item:hover {
    text-decoration: none;
  }

  img {
    margin: 0 auto 0.5rem;
  }

  img + em {
    color: $default-tint;
    display: block;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center;
  }

  img.emoji {
    display: inline-block;
    left: 0;
    transform: none;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
    padding: 0;
    margin: 0;
  }

  h1:not(.post-title) {
    margin-top: 3rem;
  }

  h2 {
    border-left: 5px solid $point-color;
    padding-left: .8rem;
    margin-top: 2.5rem;
  }

  h3 {
    margin-top: 2rem;
  }

  th {
    text-align: left;
  }
}

.top {
  cursor: pointer;
  position: fixed;
  z-index: 100;
  border: none;
  background-color: transparent;
  color: $default-tint;
  font-size: 2.5rem;
  right: 1rem;
  bottom: 1rem;
  padding: 0;

  @media (min-width: 600px) {
    display: none !important;
  }
}
