.post {
  padding: 3rem 0;

  &-title {
    color: $post-title-color;
    font-family: $title-font;
    font-weight: 700;
    font-size: 2.1rem;
    margin: 1rem 0 0 0;

    @media (min-width: 600px) {
      font-size: 2.4rem;
    }
  }

  &-subtitle {
    color: $post-subtitle-color;
    font-size: 1.2rem;
  }

  &-tag {
    margin-top: .8rem;

    &-item {
      @extend .tag-text;
    }
  }

  &-time {
    color: $default-tint;
    font-family: $serif;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    margin: 1rem 0 4rem;
  }

  .category-item {
    font-size: 1.2rem;
  }

  p {
    margin: 0 0 1rem;
    text-align: justify;
  }

  a:hover {
    text-decoration: underline;
  }

  a.category-item:hover {
    text-decoration: none;
  }

  img {
    margin: 0 auto 0.5rem;
  }

  img + em {
    color: $default-tint;
    display: block;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center;
  }

  img.emoji {
    display: inline-block;
    left: 0;
    transform: none;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
    padding: 0;
    margin: 0;
  }
}
