.tag {
  &-item {
    background-color: $tag-bg-color;
    color: $tag-text-color;
    font-family: $sans-serif;
    font-size: .85rem;
    border-radius: 4px;
    margin-right: .5rem;
    padding: 3px 8px;
  }
}
