.tag {
  &-items {
    line-height: 2;
  }

  &-item {
    display: inline-block;
    background-color: $tag-bg-color;
    color: $tag-text-color;
    font-family: $sans-serif;
    font-size: .85rem;
    border-radius: 4px;
    margin-right: .5rem;
    padding: 3px 8px;
  }
}

.tag-cloud {
  padding: 2rem 0;
  margin: 0 auto;

  &-item {
    color: $default-color;
    padding: 0 .3rem;
  }
}

.tag-rankings {
  padding-bottom: 2rem;

  .common-header-title > h2 {
    margin-bottom: 1.5rem;
  }

  span {
    display: block;
    padding: 0;
    margin-bottom: 1rem;
  }

  .tag-item {
    @include transition(all .3s ease-out);
    font-size: 1rem;

    &:hover,
    &:focus {
      color: $default-color;
    }
  }
}

.tag-adsense {
  margin-bottom: 1.5rem;
}
