<div class="catalogue-item">
  {% if category_hidden != true and post.categories.size > 0 %}
    <div class="catalogue-category">
      {% for category in post.categories %}
        <a href="{{ category | downcase | prepend: '/category/' | prepend: site.baseurl }}" class="catalogue-category-item">
          {{ category }}
        </a>
      {% endfor %}
    </div>
  {% endif %}

  <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-post">
    <div>
      <h1 class="catalogue-post-title">{{ post.title }}</h1>
      {% if post.subtitle %}
        <p class="catalogue-post-subtitle">{{ post.subtitle }}</p>
      {% endif %}
    </div>
  </a>

  {% if post.tags.size > 0 %}
    <div class="catalogue-tag">
      {% for tag in post.tags %}
        <a href="{{ tag | downcase | prepend: '/tag/' | prepend: site.baseurl }}" class="catalogue-tag-item">
          #{{ tag }}
        </a>
      {% endfor %}
    </div>
  {% endif %}

  <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%Y.%m.%d" }}</time>
</div>
