{% if header_title %}
  {% unless header_post_count %}
    {% assign header_post_count = 0 %}
  {% endunless %}

  <div class="common-header">
    <div class="common-header-title">
      <h1>{{ header_title }}</h1>
      {% case header_post_count %}
        {% when 0 %}(No posts)
        {% when 1 %}(1 post)
        {% else %}({{ header_post_count }} posts)
      {% endcase %}
    </div>
  </div>
{% endif %}

<div class="catalogue">
  {% for post in paginator.posts %}
    <div class="catalogue-item">
      {% assign category_items = post.categories %}
      {% include category_items.html %}

      <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-post">
        <div>
          <h1 class="catalogue-post-title">{{ post.title }}</h1>
          {% if post.subtitle %}
            <p class="catalogue-post-subtitle">{{ post.subtitle }}</p>
          {% endif %}
        </div>
      </a>

      {% assign tag_items = post.tags %}
      {% include tag_items.html %}

      <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: '%Y.%m.%d' }}</time>
    </div>
  {% endfor %}
</div>
