{% assign menu_index = 0 %}
{% assign menu_url = page.url | slice: 1, 10 %}{% if menu_url == 'categories' %}{% assign menu_index = 1 %}{% endif %}
{% assign menu_url = page.url | slice: 1, 4 %}{% if menu_url == 'tags' %}{% assign menu_index = 2 %}{% endif %}
{% assign menu_url = page.url | slice: 1, 6 %}{% if menu_url == 'search' %}{% assign menu_index = 3 %}{% endif %}
{% assign menu_url = page.url | slice: 1, 5 %}{% if menu_url == 'about' %}{% assign menu_index = 4 %}{% endif %}
{% assign menu_url = page.url | slice: 1, 3 %}{% if menu_url == '404' %}{% assign menu_index = -1 %}{% endif %}

<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.home_path | prepend: site.baseurl }}">
      <h2 class="nav-title">(this) -> <span>Jamesu</span></h2>
    </a>

    <ul>
      <li {% if menu_index == 0 %}class="selected"{% endif %}>
        <a href="{{ '/posts' | prepend: site.baseurl }}" class="menu">
          <i class="fas fa-fw {% if menu_index == 0 %}fa-book-open{% else %}fa-book{% endif %}"></i>
          <span>Posts</span>
        </a>
      </li>
      <li {% if menu_index == 1 %}class="selected"{% endif %}>
        <a href="{{ '/categories' | prepend: site.baseurl }}" class="menu">
          <i class="fas fa-fw {% if menu_index == 1 %}fa-folder-open{% else %}fa-folder{% endif %}"></i>
          <span>Categories</span>
        </a>
      </li>
      <li {% if menu_index == 2 %}class="selected"{% endif %}>
        <a href="{{ '/tags' | prepend: site.baseurl }}" class="menu">
          <i class="fas fa-fw {% if menu_index == 2 %}fa-tag{% else %}fa-tags{% endif %}"></i>
          <span>Tags</span>
        </a>
      </li>
      <li {% if menu_index == 3 %}class="selected"{% endif %}>
        <a href="{{ '/search' | prepend: site.baseurl }}" class="menu">
          <i class="fas fa-fw {% if menu_index == 3 %}fa-search-dollar{% else %}fa-search{% endif %}"></i>
          <span>Search</span>
        </a>
      </li>
      <li {% if menu_index == 4 %}class="selected"{% endif %}>
        <a href="{{ '/about' | prepend: site.baseurl }}" class="menu">
          <i class="fas fa-fw {% if menu_index == 4 %}fa-robot{% else %}fa-user-alt{% endif %}"></i>
          <span>About</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
