<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  {% if paginator.page_trail %}
    {% for trail in paginator.page_trail %}
      <span {% if page.pagination_info.curr_page == trail.num %}class="selected"{% endif %}>
        <a href="{{ trail.path | prepend: site.baseurl | remove_index_url }}">{{ trail.num }}</a>
      </span>
    {% endfor %}
  {% elsif paginator.total_posts > 0 %}
    <span class="selected">1</span>
  {% endif %}
</div>
