{% if paginator.page_trail %}
  <div class="pagination">
    {% assign first_page_threshold = paginator.page | minus: site.pagination.trail.before %}
    {% if paginator.first_page_path and paginator.first_page < first_page_threshold %}
      <span>
        <a href="{{ paginator.first_page_path | prepend: site.baseurl }}">{{ paginator.first_page }}</a>
      </span>
      {% assign first_page_dot_threshold = first_page_threshold | minus: 1 %}
      {% if paginator.first_page < first_page_dot_threshold %}
        <span class="text">...</span>
      {% endif %}
    {% endif %}

    {% for trail in paginator.page_trail %}
      <span {% if paginator.page == trail.num %}class="selected"{% endif %}>
        <a href="{{ trail.path | prepend: site.baseurl | remove_index_url }}">{{ trail.num }}</a>
      </span>
    {% endfor %}

    {% assign last_page_threshold = paginator.page | plus: site.pagination.trail.after %}
    {% if paginator.last_page_path and paginator.last_page > last_page_threshold %}
      {% assign last_page_dot_threshold = last_page_threshold | plus: 1 %}
      {% if paginator.last_page > last_page_dot_threshold %}
        <span class="text">...</span>
      {% endif %}
      <span>
        <a href="{{ paginator.last_page_path | prepend: site.baseurl }}">{{ paginator.last_page }}</a>
      </span>
    {% endif %}
  </div>
{% endif %}
