{% if paginator.page_trail %}
  <div class="pagination">
    {% assign first_dot_threshold = paginator.first_page | plus: 1 %}
    {% if paginator.page_trail.first.num != paginator.first_page %}
      <span>
        <a href="{{ paginator.first_page_path | prepend: site.baseurl }}">{{ paginator.first_page }}</a>
      </span>
      {% if paginator.page_trail.first.num != first_dot_threshold %}
        <span class="text">...</span>
      {% endif %}
    {% endif %}

    {% for trail in paginator.page_trail %}
      <span {% if paginator.page == trail.num %}class="selected"{% endif %}>
        <a href="{{ trail.path | prepend: site.baseurl | remove_index_url }}">{{ trail.num }}</a>
      </span>
    {% endfor %}

    {% assign last_dot_threshold = paginator.last_page | minus: 1 %}
    {% if paginator.page_trail.last.num != paginator.last_page %}
      {% if paginator.page_trail.last.num != last_dot_threshold %}
        <span class="text">...</span>
      {% endif %}
      <span>
        <a href="{{ paginator.last_page_path | prepend: site.baseurl }}">{{ paginator.last_page }}</a>
      </span>
    {% endif %}
  </div>
{% endif %}
