.error-page {
  @extend .screen-center;
  text-align: center;

  &-image {
    @extend .center-image-container;
    
    img {
      width: 8rem;
      height: 8rem;
    }
  }

  &-title {
    @extend .post-title;
    font-size: 4rem !important;
    margin: 0 !important;
  }

  &-subtitle {
    @extend .post-subtitle;
    font-size: 1.5rem !important;
    margin: 0 !important;
  }
}
