.catalogue {
  &-item {
    border-bottom: 1px solid $grey-2;
    padding: 2rem 0;

    &:last-child {
      border: 0;
    }
  }

  &-category {
    display: block;
    margin-bottom: .8rem;

    &-item {
      color: $point-color;
      font-family: $sans-serif;
      margin-right: .8rem;
    }
  }

  &-post {
    color: $default-color;
    display: inline-block;
    width: 100%;

    &-title {
      @include transition(all .5s ease-out);
      color: $default-shade;
      font-family: $title-font;
      display: block;
      font-size: 1.8rem;
      font-weight: 700;
      margin: 0;
    }
  
    &-subtitle {
      @include transition(all .5s ease-out);
      margin: 0;
    }
  }

  &-tag {
    margin-top: .8rem;

    &-item {
      background-color: #eee;
      color: #999;
      font-family: $sans-serif;
      font-size: .85rem;
      border-radius: 4px;
      margin-right: .5rem;
      padding: 3px 8px;
    }
  }

  &-time {
    display: block;
    color: $default-tint;
    font-family: $serif;
    font-size: .9rem;
    letter-spacing: .5px;
    margin-top: 1rem;
  }
}
