.catalogue {
  &-item {
    border-bottom: 1px solid $grey-2;
    padding: 2rem 0;

    &:last-child {
      border: 0;
    }
  }

  &-category {
    display: inline-block;
    color: $point-color;
    font-family: $sans-serif;
    margin: 0 1rem 1rem 0;
  }

  &-post {
    color: $default-color;
    display: inline-block;
    width: 100%;
  }

  &-title {
    @include transition(all .5s ease-out);
    color: $default-shade;
    font-family: $title-font;
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0 0 .5rem 0;
  }

  &-time {
    color: $default-tint;
    font-family: $serif;
    font-size: 0.9rem;
    letter-spacing: .5px;
  }
}
