.catalogue {
  &-item {
    border-bottom: 1px solid $grey-2;
    color: $default-color;
    display: inline-block;
    padding: 2rem 0;

    &:hover .catalogue-title,
    &:focus .catalogue-title {
      background-position: 0%;
    }

    &:last-child {
      border: 0;
    }
  }

  &-time {
    color: $default-tint;
    font-family: $serif;
    font-size: 0.9rem;
    letter-spacing: .5px;
  }

  &-title {
    @include transition(all .5s ease-out);
    color: $default-shade;
    font-family: $title-font;
    display: block;
    font-size: 2rem;
    font-weight: 700;
    margin: .5rem 0;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-image: linear-gradient(
        to right,
        $point-color,
        $point-color 50%,
        $default-shade 50%);
        background-size: 200% 100%;
        background-position: 100%;
  }
}
