---
layout: default
---

<div class="common-header">
  <div class="common-header-title">
    <h1>About</h1>
  </div>
</div>

<div class="about">
  <div class="about-profile">
    <div class="about-profile-image">
      <img src="/assets/img/profile/190927_jamesu_by_nahz.png" alt="Jamesu by nahz">
      <div>&copy; nahz</div>
    </div>

    <div class="about-profile-content">
      <h2><span>James</span> Mins<span>u</span> Jeon</h2>

      <p>모바일, 백엔드, 프론트엔드를 가리지 않는 <b>잡식성</b> 개발자</p>
      <p class="whisper">(그래도 모바일이 가장 재미있어요.)</p>

      <div class="about-profile-content-contacts">
        <h4>Contacts</h4>
        <div>
          <i class="far fa-envelope fa-fw"></i>
          <span>{{ site.author.email }}</span>
        </div>
        <div>
          <a href="{{ site.social.links[0] }}" target="_blank">
            <i class="fab fa-github fa-fw"></i>
            <span>GitHub</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- todo: Skills, Likes 등 내용 추가 -->
</div>
