---
layout: default
---

<div class="catalogue">
  {% for post in paginator.posts %}
    <div class="catalogue-item">
      <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-post">
        <div>
          <h1 class="catalogue-title">{{ post.title }}</h1>
          <p>{{ post.content | strip_html | truncatewords: 30 }}</p>
          <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%Y.%m.%d" }}</time>
        </div>
      </a>
    </div>
  {% endfor %}
</div>

{% include pagination.html %}
