---
layout: default
---

<div class="post">
  {% assign category_items = page.categories %}
  {% include category_items.html %}

  <h1 class="post-title">{{ page.title }}</h1>

  {% if page.subtitle %}
    <p class="post-subtitle">{{ page.subtitle }}</p>
  {% endif %}

  {% assign tag_items = page.tags %}
  {% include tag_items.html %}

  <div class="post-time">
    <time datetime="{{ page.date }}">{{ page.date | date: "%Y.%m.%d" }}</time>
  </div>

  {{ content }}
</div>

<div class="post-pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>
