---
layout: default
---

<div class="post">
  {% if page.title_image %}
    <div class="post-title-image"><img src="{{ page.title_image | prepend: 'assets/' | prepend: page.url }}"></div>
  {% endif %}

  {% assign category_items = page.categories %}
  {% include category_items.html %}

  <h1 class="post-title">{{ page.title }}</h1>

  {% if page.subtitle %}
    <p class="post-subtitle">{{ page.subtitle }}</p>
  {% endif %}

  {% assign tag_items = page.tags %}
  {% include tag_items.html %}

  <div class="post-time">
    <time datetime="{{ page.date }}">{{ page.date | date: "%Y.%m.%d" }}</time>
  </div>

  {{ content }}

  {% if page.next.url or page.previous.url %}
    <div class="post-pagination">
      {% if page.next.url %}
        <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">
          <i class="fas fa-chevron-left fa-fw"></i>
          <span class="left arrow-title">{{ page.next.title }}</span>
        </a>
      {% endif %}
      {% if page.previous.url %}
        <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">
          <i class="fas fa-chevron-right fa-fw"></i>
          <span class="right arrow-title">{{ page.previous.title }}</span>
        </a>
      {% endif %}
    </div>
  {% endif %}

  {% include comments.html %}

  {% include adsense.html %}
</div>

<button id="scrollToTop" class="top far fa-caret-square-up"></button>
