---
layout: default
---

<div class="post">
  {% if page.categories.size > 0 %}
    <div class="post-category">
      {% for category in page.categories %}
        <a href="{{ category | downcase | prepend: '/categories/' | prepend: site.baseurl }}" class="post-category-item">
          {{ category }}
        </a>
      {% endfor %}
    </div>
  {% endif %}

  <h1 class="post-title">{{ page.title }}</h1>

  {% if page.subtitle %}
    <p class="post-subtitle">{{ page.subtitle }}</p>
  {% endif %}

  {% if page.tags.size > 0 %}
    <div class="post-tag">
      {% for tag in page.tags %}
        <a href="{{ tag | downcase | prepend: '/tags/' | prepend: site.baseurl }}" class="post-tag-item">
          #{{ tag }}
        </a>
      {% endfor %}
    </div>
  {% endif %}

  <div class="post-time">
    <time datetime="{{ page.date }}">{{ page.date | date: "%Y.%m.%d" }}</time>
  </div>

  {{ content }}
</div>

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>
